*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
body{
    background-color: rgb(28, 61, 92);
}

.container{
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 25%; */
    margin-top:100px;
    background: linear-gradient(135deg, #153677, #4e085f);
    min-height: 100vh ;
    width: 100%;
    padding: 10px;
}

.cont1{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    /* display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; */
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    color: rgb(28, 61, 92);
}

.cont1 h1{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cont1 h1 img{
    height: 35px;
    width: 30px;
    margin-left:10px ;
}

.sub-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    /* height: 30px; */
    /* min-width: 900px; */

}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
   
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945 ;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}


ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px ;
    user-select: none;
    position: relative;
    cursor: pointer;
}

ul li::before{
    content: ' ';
    position: absolute;
    height: 18px;
    width:18px;
    border-radius: 50%;
    background-image: url('unchecked.png');
    top: 12px;
    left: 8px;
    background-size: cover;
    background-position: center;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
    
} 

ul li.checked::before{
    background-image: url('checked.png');
    height: 18px;
    width: 18px;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 18px;
    height: 18px;
    font-size: 22px;
    text-align: center;
    /* color: #fff; */
    line-height: 18px;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #edeef0;
}